<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<header>
    <p class="user-greeting" th:if="${username != null}" th:text="'Hello, ' + ${username}"></p>

    <div class="header-links">
        <a class="header-link" th:href="@{/logout}">Logout</a>
<!--        <a class="header-link" th:href="@{/my-papers}">My Papers</a>-->
<!--        <a class="header-link" th:href="@{/my-reviews}">My Reviews</a>-->
        <a class="header-link" th:href="@{/dashboard}">Home</a>
    </div>

    <a class="header-link" th:href="@{/account}">Account</a>
</header>
</body>

</html>
